<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">  
  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">  
  
  <head>  
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />  
    <title>Wellcome to Message Board</title>  
  </head>  
  <body>  
    <div style="text-align:center;margin:100px auto;">  
      <h2>Message Board</h2> 
      <h3>query</h3>
      <form action="/id" method="get"> 
        <p>input the id</p> <input name="pid" type="text" />  
        <input type="submit" value="Submit" />  
      </form>  
      <form action="/author" method="get">  
        <p>input the author</p><input name="pauthor" type="text" />  
        <input type="submit" value="Submit" />  
      </form> 
      <h3><a href="/add">add a message</a></h3>
      
      <table border="2"style="text-align:center;margin:100px auto;">
        <h3>all the messages</h3>
        <tr>
          <th>id</th>
          <th>author</th>
          <th>message</th>
          <th>created_at</th>
          <th>delete</th>
        </tr>
        <% i = $arr.length %>
        <% i.times do |i|
        %><tr>
            <td><%= $arr[i].id %></td>
        <%
           del_id = $arr[i].id.to_s
        %>
            <td><%= $arr[i].author %></td>
            <td><%= $arr[i].message %></td>
            <td><%= $arr[i].created_at %></td>
            <td><form action="/delete" method="post"><input name= del_id type="submit" value="delete" /> </form></td>
          </tr>
      <% end
      %></table>
    </div>   
  </body>  
</html>  
