<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">   
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">    
	<head>  
	    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />  
	    <title>Wellcome to Message Board</title>  
	</head>  
	<body>  
	    <div style="text-align:center;margin:100px auto;">  
	        <h2>Message Board</h2> 
	        <form action="/login" method="post">  
                   <p> Name:</p> <input type="text" name="username" />  
                   <p> Password:</p><input type="password" name="password" />  
                   <br><input type="submit" value="Log in" />  
            </form> 
	    </div>
	</body>
</html>